.box2 {
  width: 50%;
  /* margin-left: 1em; */
}

.contactMe {
  font-family: "PT Serif";
  font-size: 25px;
  margin-top: 1em;
  margin-bottom: 2em;
}

.form-control:focus {
  box-shadow: none;
  border-color: black;
}

.btn-primary {
  font-family: "Roboto";
  background-color: black;
  color: white;
  border-color: black;
}

.btn-primary:hover {
  font-family: "Roboto";
  background-color: white;
  color: black;
  border-color: black;
}

label {
  font-family: "Roboto";
}

.success {
  font-family: "Roboto";
  font-size: 18px;
  color: #868686;
}
