#loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141414;
}

.loadingText {
  font-family: Roboto;
  font-size: large;
  font-weight: bolder;
  color: white;
}
